.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 100ms ease;

  &:hover {
    // TODO: use css variables
    background-color: #777678;
  }
}
