@let ctrls = form.controls;

<h1 class="text-center mb-6 text-3xl">{{ view() === 'login' ? 'Login' : 'Signin' }}</h1>

<form class="grid gap-3 mb-5" [formGroup]="form" (ngSubmit)="submit()" (keyup.enter)="submit()">
  <mat-form-field>
    <input matInput placeholder="Email" type="text" [formControl]="ctrls.email" />
  </mat-form-field>

  @if (this.view() === 'signin') {
    <mat-form-field>
      <input matInput placeholder="Username" type="text" [formControl]="ctrls.username" />
    </mat-form-field>
  }

  <mat-form-field>
    <input matInput type="password" class="w-full" placeholder="Password" [formControl]="ctrls.password" />
  </mat-form-field>
</form>

<button matButton="filled" type="submit" class="w-full" [disabled]="isProcessing()" (click)="submit()">
  {{ view() === 'login' ? 'Login' : 'Signin' }}
</button>

<p class="mt-7 text-center">
  {{ view() === 'login' ? "Don't have account?" : 'Have an account?' }}
  <a class="text-sky-500" [routerLink]="redirectPath()">
    {{ view() === 'login' ? 'Signin' : 'Login' }}
  </a>
</p>

<p class="text-center my-2">or</p>

<div class="flex justify-center">
  <button matButton="filled" [disabled]="isProcessing()" (click)="signInWithGoogle()">Sign in with Google</button>
</div>
