<h1 class="text-center mb-6 text-3xl">{{ view() === 'login' ? 'Login' : 'Signin' }}</h1>

<form class="grid gap-3 mb-5" [formGroup]="form" (ngSubmit)="formSubmit()" (keyup.enter)="formSubmit()">
  @let ctrls = form.controls;

  <input pInputText placeholder="Email" type="text" [formControl]="ctrls.email" />
  @if (this.view() === 'signin') {
    <input pInputText placeholder="Username" type="text" [formControl]="ctrls.username" />
  }
  <p-password styleClass="w-full" placeholder="Password" [feedback]="false" [formControl]="ctrls.password" />
</form>
<p-button
  type="submit"
  styleClass="w-full"
  [disabled]="userStore.isLoading()"
  [label]="view() === 'login' ? 'Login' : 'Signin'"
  [icon]="userStore.isLoading() ? 'pi pi-spinner' : ''"
  (onClick)="formSubmit()" />

<p class="mt-7 text-center">
  {{ view() === 'login' ? "Don't have account?" : 'Have an account?' }}
  <a class="text-sky-500" [routerLink]="redirectPath()">
    {{ view() === 'login' ? 'Signin' : 'Login' }}
  </a>
</p>
