@use '@angular/material' as mat;
@use 'theme' as theme;
@use 'red-theme-colors' as red-theme;
@use 'tailwindcss';
@use 'green-theme';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--mat-sys-surface-container);
}

:root {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: -1,
    )
  );
}

.theme-red {
  @include theme.go(
    (
      color: (
        primary: red-theme.$primary-palette,
        tertiary: red-theme.$tertiary-palette,
      ),
    )
  );
}

.theme-blue {
  @include theme.go(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
    )
  );
}
