@use 'theme' as theme;
@use '@angular/material' as mat;
@use 'red-theme-colors' as red-theme;
@use 'tailwindcss';
@use 'green-theme';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--mat-sys-on-background);
  background-color: var(--mat-sys-surface-container);
}

:root {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 1,
    )
  );
}

.theme-red {
  @include theme.go(
    (
      color: (
        primary: mat.$red-palette,
        tertiary: mat.$red-palette,
      ),
    )
  );
}

.theme-blue {
  @include theme.go(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
    )
  );
}

.theme-green {
  @include theme.go(
    (
      color: (
        primary: mat.$green-palette,
        tertiary: mat.$blue-palette,
      ),
    )
  );
}
